@import "../../../css/designSystem.scss";

.adminSection {
  width: 80%;
  margin: 20px auto;
  height: calc(100% - 65px);
  padding: 20px;

  .favoritList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid $gradientL2;
  }

  .addFolderBtn {
    margin-bottom: 20px;

    button {
      border-radius: 12px;
      background-color: $secondary;
      box-shadow: $box-shadow4;
      color: $gradientL5;
      height: 30px;
      display: flex;
      padding: 0 10px;
      align-items: center;
      transition: all 0.3s ease-in-out;
      font-weight: 600;
      font-size: 16px;

      &:hover {
        background-color: $secondaryD2;
      }
      &:active {
        background-color: $secondaryD3;
      }
    }
  }
}
.spinner {
  img {
    margin: 0 auto;
  }
}

// .linkContainer {
//   width: 200px;
//   border: 2px solid #57768c;
//   padding: 2px;
//   border-radius: 15px;
// }
// .link {
//   border-radius: 15px;
//   background-color: #cfdbe3;
//   padding: 5px;
// }
// .linkItem {
//   border-radius: 15px;
//   border: 1px solid #b9cad6;
//   box-shadow: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.3),
//   0 6.7px 5.3px 0 rgba(0, 0, 0, 0.3);;
//   margin: 0 auto;
//   height: 50px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// a {
//   text-decoration: none;
//   text-align: center;
//   font-weight: bold;
//   color: #4e595f;
//   font-size: 20px;
// }
