@import "../../../css/designSystem.scss";

.header {
  background-color: $gradientD3;
  height: 65px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 999;
  direction: ltr !important;

  .slider {
    background-color: $gradientL5;
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    position: relative;

    .sliderBack {
      position: absolute;
      width: 75px;
      height: 23px;
      border-radius: 8px;
      background-color: $secondary;
      left: calc(0% + 2px);
      transition: all 0.2s ease-in-out;

      &.right {
        left: calc(50% - 2px);
      }
    }

    button {
      z-index: 1;
      color: $gradientD5;
      font-weight: 600;
      text-align: center;
      width: 75px;
      height: 23px;
      border-radius: 8px;

      &.activeLang {
        color: $gradientL5;
      }
    }
  }

  .logo {
    color: $gradientL5;
    border: 2px solid $gradientL5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

// [dir="rtl"] {
// }
