$box-shadow1: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.07),
  0 6.7px 5.3px 0 rgba(0, 0, 0, 0.05), 0 12.5px 10px 0 rgba(0, 0, 0, 0.04),
  0 22.3px 17.9px 0 rgba(0, 0, 0, 0.04), 0 41.8px 33.4px 0 rgba(0, 0, 0, 0.03),
  0 100px 80px 0 rgba(0, 0, 0, 0.02);

$box-shadow2: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px 0 rgba(0, 0, 0, 0.03), 0 12.5px 10px 0 rgba(0, 0, 0, 0.04),
  0 22.3px 17.9px 0 rgba(0, 0, 0, 0.04), 0 41.8px 33.4px 0 rgba(0, 0, 0, 0.05),
  0 100px 80px 0 rgba(0, 0, 0, 0.07);

$box-shadow3: 0 2.8px 6.5px 0 rgba(25, 39, 70, 0.07),
  0 6.7px 18.5px 0 rgba(25, 39, 70, 0.1),
  0 12.5px 39.8px 0 rgba(25, 39, 70, 0.13),
  0 22.3px 78.7px 0 rgba(25, 39, 70, 0.15),
  0 41.8px 138.8px 0 rgba(25, 39, 70, 0.18),
  0 100px 192px 0 rgba(25, 39, 70, 0.25);

$box-shadow4: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.07),
  0 6.7px 5.3px 0 rgba(0, 0, 0, 0.05);

$primary: #7b61ff;
$primaryD1: #5c46db;
$primaryD2: #4230b7;
$primaryD3: #2c1e93;
$primaryD4: #1c127a;
$primaryL1: #9e88ff;
$primaryL2: #b3a0ff;
$primaryL3: #cdbfff;
$primaryL4: #e6dfff;

$secondary: #38c9d2;
$secondaryD1: #28a0b4;
$secondaryD2: #1c7b97;
$secondaryD3: #115979;
$secondaryD4: #0a4164;
$secondaryL1: #66e3e0;
$secondaryL2: #87f1e5;
$secondaryL3: #b1faec;
$secondaryL4: #d7fcf2;

$success: #23bc4c;
$successD1: #19a14b;
$successD2: #118748;
$successD3: #0b6d41;
$successD4: #065a3d;
$successL1: #53d66a;
$successL2: #78ea80;
$successL3: #a9f8a7;
$successL4: #d7fbd2;

$warning: #ffa94f;
$warningD1: #db8439;
$warningD2: #b76327;
$warningD3: #934519;
$warningD4: #7a300f;
$warningL1: #ffc47a;
$warningL2: #ffd595;
$warningL3: #ffe6b8;
$warningL4: #fff4db;

$dangeros: #ff494c;
$dangerosD1: #db3546;
$dangerosD2: #b72440;
$dangerosD3: #93173a;
$dangerosD4: #7a0e35;
$dangerosL1: #ff8076;
$dangerosL2: #ffa391;
$dangerosL3: #ffc8b6;
$dangerosL4: #ffe6da;

$gradient: #b9cad6;
$gradientD1: #8ba4b6;
$gradientD2: #57768c;
$gradientD3: #0f314a;
$gradientD4: #001b32;
$gradientD5: #00081c;
$gradientL1: #cfdbe3;
$gradientL2: #dfe7ed;
$gradientL3: #ebf0f4;
$gradientL4: #f5f8f9;
$gradientL5: #fff;

// ---------------------------------------------------- key frames animation

@keyframes uploadAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scalAnimations {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

// ----------------------------------------------------mixin

@mixin uploadMixin {
  animation: uploadAnimation 0.3s ease-in-out 0s 1;
}

@mixin scaleMixin {
  animation: scalAnimations 0.3s ease-in-out 0s 1;
}
