@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/Inter-ExtraLight-slnt=0.ttf) format('truetype');
	font-style: normal;
	font-weight: 200
}
@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/Inter-Light-slnt=0.ttf) format('truetype');
	font-style: normal;
	font-weight: 300
}
@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/Inter-Regular-slnt=0.ttf) format('truetype');
	font-style: normal;
	font-weight: 400
}
@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/Inter-SemiBold-slnt=0.ttf) format('truetype');
	font-style: normal;
	font-weight: 600
}
@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/Inter-Bold-slnt=0.ttf) format('truetype');
	font-style: normal;
	font-weight: 700
}
@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/Inter-ExtraBold-slnt=0.ttf) format('truetype');
	font-style: normal;
	font-weight: 900
}