@import "../../../../css/designSystem.scss";

.folderItem {
  border-radius: 12px;
  box-shadow: $box-shadow1;
  margin-bottom: 15px;

  .folderTitle {
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: all 0.1s ease-in-out;

    .folderNameButton {
      flex: 1;
      text-align: inherit;

      h3 {
        color: $gradientL5;
        font-size: 18px;
        font-weight: 600;
      }
    }

    button {
      margin: 0 10px;
      color: $gradientL5;
    }

    .openTabBtn {
      i {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
      }
    }

    .deleteSection {
      display: flex;
      width: 0;
      overflow: hidden;
      transition: all 0.1s ease-in-out;

      p {
        color: $gradientL5;
        font-weight: 600;
        margin: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.1s ease-in-out;
        opacity: 0;
      }

      button {
        border-bottom: 1px solid $gradientL5;
        color: $gradientL5;
        font-weight: 600;
        opacity: 0;
        transition: all 0.1s ease-in-out;
      }

      &.deleteOpen {
        transition: all 0.1s ease-in-out;
        width: 270px;

        p,
        button {
          transition: all 0.1s ease-in-out;
          opacity: 1;
        }
      }
    }

    &.openFolder {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .openTabBtn {
        i {
          transform: rotate(0deg);
        }
      }
    }
  }

  .folderContent {
    background-color: $gradientL5;
    height: 0;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
    border-radius: 12px;
    opacity: 0;

    &.openFolder {
      height: 200px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }
}
