@import "../../../css/designSystem.scss";
.logInMain {
  width: 100vw;
  height: calc(100vh - 65px);
  background-color: #f5f8f9;
  justify-content: center;
  align-items: center;
  display: flex;

  .loginContent {
    justify-content: space-between;
    display: flex;
    background-color: $gradientL5;
    border-radius: 12px;
    box-shadow: $box-shadow1;
    border: 1px solid $gradient;
    width: 50%;
    height: 50%;

    .formSection {
      flex: 1;
      box-sizing: content-box;
      padding: 50px;

      .inputItem {
        margin-bottom: 20px;

        p {
          font-size: 16px;
          color: $gradientD2;
          margin: 0 5px 5px;
        }

        input {
          border: solid 1px $gradientL1;
          border-radius: 8px;
          width: 100%;
          padding: 4px 8px;
          margin-bottom: 10px;
          line-height: 20px;
          color: $gradientD5;
          transition: all 0.2s ease-in-out;
          font-size: 14px;
          height: 30px;
          outline: none !important;
          resize: none;

          &:hover {
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          }
          &:focus {
            box-shadow: 0 0 3px 1px $primary;
          }
        }
      }

      .btnsSection {
        margin-top: 50px;
        .submitBtn {
          border-radius: 12px;
          box-shadow: $box-shadow4;
          color: $gradientL5;
          height: 40px;
          padding: 0 20px;
          background-color: $primary;
          transition: all 0.3s ease-in-out;
          font-size: 16px;
          font-weight: 600;

          &:hover {
            background-color: $primaryD2;
          }
          &:active {
            background-color: $primaryD3;
          }
        }
      }
    }

    .imgSection {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      img {
        border-radius: 12px;
        width: 80%;
      }
    }
  }
}
