@import "../../../../css/designSystem.scss";

.editUserModalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: uploadAnimation 0.3s ease-in-out 0s 1;
  backdrop-filter: blur(2px);

  .editUserModalContent {
    width: 40%;
    background-color: $gradientL5;
    border-radius: 12px;
    box-shadow: $box-shadow1;
    animation: scalAnimations 0.3s ease-in-out 0s 1;
    padding: 30px 40px;

    .editModalClose {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;

      button {
        font-size: 16px;
        color: $gradientD4;
      }
    }

    .mainContentSection {
      display: flex;
      margin-bottom: 40px;

      .avatarSection {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar {
          border-radius: 12px;
          overflow: hidden;
          box-shadow: $box-shadow1;
          width: 200px;
          height: 200px;
          margin: 10px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .divider {
        width: 1px;
        background-color: $gradientD2;
        margin: 0 20px;
      }

      .formSection {
        flex: 1;

        form {
          .formItem {
            p {
              margin: 0 10px 5px;
              font-size: 14px;
              color: $gradientD4;
              font-weight: 600;
            }

            input {
              border: solid 1px $gradientL2;
              border-radius: 8px;
              width: 100%;
              padding: 4px 8px;
              margin-bottom: 20px;
              line-height: 20px;
              color: $gradientD5;
              transition: all 0.1s ease-in-out;
              font-size: 14px;

              &:hover {
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
              }
              &:focus {
                box-shadow: 0 0 3px 1px $primary;
              }
            }
          }
        }
      }
    }

    .fotterBtnsSection {
      display: flex;
      justify-content: space-between;

      .deleteBtn {
        border-radius: 12px;
        box-shadow: $box-shadow4;
        color: $gradientD4;
        border: solid 1px $dangeros;
        height: 30px;
        padding: 0 10px;
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60px;
        overflow: hidden;

        button {
          font-size: 14px;
          color: $dangeros;
        }

        .blueTextBtn {
          color: $secondary;
        }

        p {
          margin: 0 10px;
          white-space: nowrap;
          overflow: hidden;
          transition: all 0.1s ease-in-out;
          opacity: 0;
        }

        &.delteOpen {
          transition: all 0.2s ease-in-out;
          width: 380px;

          p {
            transition: all 0.1s ease-in-out;
            opacity: 1;
          }
        }
      }

      .updateBtn {
        border-radius: 12px;
        background-color: $primary;
        box-shadow: $box-shadow4;
        color: $gradientL5;
        height: 30px;
        padding: 0 10px;
        transition: all 0.3s ease-in-out;
        font-size: 14px;

        &:hover {
          background-color: $primaryD2;
        }
        &:active {
          background-color: $primaryD3;
        }
      }
    }
  }
}

@keyframes uploadAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scalAnimations {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
