@import "../../../css/designSystem.scss";

.sideMenu {
  display: flex;
  height: calc(100vh - 65px);
  position: sticky;
  top: 65px;

  .menuContent {
    width: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    padding: 0px;
    display: flex;
    flex-direction: column;

    .sectionTitle {
      margin-bottom: 15px;
      transition: all 0.2s ease-in-out;
      opacity: 0;

      h3 {
        font-size: 16px;
        color: $gradientD2;
        border-bottom: 2px solid $gradientL2;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .generalLinkItem {
      margin-bottom: 10px;
      border-radius: 12px;
      box-shadow: $box-shadow4;
      color: $gradientL5;
      height: 30px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;
      opacity: 0;

      > h3 {
        white-space: nowrap;
        overflow: hidden;
        font-weight: 600;
        margin: 0 10px;
        color: $gradientL5 !important;
      }
    }

    .topLinks {
      flex: 1;
      .linkItem {
        background-color: $primary;

        &:hover {
          background-color: $primaryD2;
        }
        &:active {
          background-color: $primaryD3;
        }
      }
    }

    .bottomLinks {
      flex: 1;

      .linkItemBottom {
        background-color: $secondary;

        &:hover {
          background-color: $secondaryD2;
        }
        &:active {
          background-color: $secondaryD3;
        }
      }
    }

    .adminLinks {
      flex: 1;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      button {
        margin-bottom: 10px;
        border-radius: 12px;
        background-color: $dangeros;
        box-shadow: $box-shadow4;
        color: $gradientL5;
        height: 30px;
        display: flex;
        padding: 0 10px;
        align-items: center;
        width: 100%;
        transition: all 0.2s ease-in-out;

        > h3 {
          white-space: nowrap;
          overflow: hidden;
          font-weight: 600;
          margin: 0 10px;
          color: $gradientL5 !important;
        }

        &:hover {
          background-color: $dangerosD1;
        }
        &:active {
          background-color: $dangerosD2;
        }
      }

      .adminLinks {
        background-color: $warning;

        &:hover {
          background-color: $warningD1;
        }
        &:active {
          background-color: $warningD2;
        }
      }
    }

    &.menuOpen {
      transition: all 0.2s ease-in-out;
      width: 210px;
      padding: 20px;
      .linkItem,
      .linkItemBottom,
      .sectionTitle,
      .adminLinks {
        opacity: 1;
      }
    }
  }

  .sideMenuHandlerSection {
    background-color: $gradientL4;
    width: 1px;
    padding: 0 20px;
    position: relative;
    border-right: 1px solid $gradientD1;

    &.sideMenuOpen {
      background-color: $gradientL5;
    }

    .btn {
      button {
        position: absolute;
        border: 1px solid $gradientD1;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -15px;
        top: 20px;
        background-color: $gradientL5;

        i {
          font-size: 14px;
          color: $gradientD1;
        }
      }

      &.openMenu {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}

[dir="rtl"] {
  .sideMenu {
    .sideMenuHandlerSection {
      border-right: none;
      border-left: 1px solid $gradientD1;

      &.sideMenuOpen {
        background-color: $gradientL5;
      }

      .btn {
        button {
          right: 25px;

          i {
            transform: rotate(180deg);
          }
        }

        &.openMenu {
          i {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}
